body{
    margin: 0;
}
#about{
    margin-top: 80px;
}
.about-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}
.about-main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: baseline;
    
    padding: 25px;
    border: 1px solid gray;
    border-radius: 20px;
  background:rgb(17, 17, 30);
  
  width: 60%;
  height:fit-content;
  margin: 0;

}
.about-main .about-para p{
    color: lightgray;
}
.about-btn{
    display: flex;
    gap: 20px;
}
.about-btn #btn1{
background-color: transparent;
border: 1px solid lightgray;
width: fit-content;
padding: 10px;
border-radius: 10px;
transition: 0.5s ease;
color: white;
}
.about-btn #btn2{
width: 120px;
color: white;
background-color: transparent;
border: none;
padding: 10px;
width: fit-content;
border-radius: 10px;
transition: 0.5s ease;


}
.about-btn #btn1:hover{
background-color:rgb(227, 227, 227, 0.4) ;

}
.about-btn #btn2:hover{
background-color:rgb(227, 227, 227, 0.4) ;

}
.about-exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid gray;
    border-radius: 20px;
  background:rgb(17, 17, 30);
  width: fit-content;
  height: fit-content;
}
.abt{
font-size: 0.8em;
}
.stand{
 font-size: 1.4em;   
 font-weight: bold;
 margin: 0;
}
.about-exp h1{
    font-size: 1.4em;
}
@media (max-width :569px){
    .about-exp{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}