body{
  background-color: rgb(10, 10, 20);
  font-family:   Arial, sans-serif; 
  color: rgb(176, 168, 168);
  margin: 0;
  padding: 0;

}
p{
    font-size: 0.8em;
    line-height: 1.5em;
}
h1{
  margin: 0;
}